/* row and column styling */
.row {
    margin-bottom: 20px;
}
.row .row {
    margin: 0
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.container {
    width:90%;
}
/* body styling */
body {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
}
p {
    font-size: 1.4em;
}
h4 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.8em;
    font-weight: 800;
}
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.header1 {
    padding-top: 0.75em;
}
.narrow {
    font-family: 'Archivo Narrow', sans-serif;
}
.narrow_text {
    
}
.narrow_row {
    padding: 0px;
}
.emphasis{
    font-style: italic;
}
/* global styling */
.page_wrapper {

}
.magenta {
    color: #CC0066;
}
.grey {
    color: #A0A0A0;
}
#border_adjustment{
    background-color: grey;
    padding: 0.25em;
}

/* starter section */
.starter_template {
    padding: 0 15px;
    text-align: center;
}
#header_text{
    font-size: 4em;
    font-weight: 900;
}

/* sidebar section */
#sidebar {
    text-align: left;
    padding-top: 0;
    border-left: solid grey 2px;
}

/* main details section */
#main_details {
    border-left: solid grey 2px;
    text-align: left;
    padding-top: 0;
}



